footer
  .container
    .footer
      h2 Experience more <br>together
      span.text Stay connected with reliable HD meetings and unlimited one-on-one and group video sessions.
      .footer__buttons
        .btn.btn--pink
          span.btn__text Download
          span.btn__subtext v1.3
